.main > .container {
  margin-left: 20px;
  margin-top: 60px;
  height: calc(100vh - 60px);
}
.main > .container .schedule {
  width: 95%;
  background-color: #eaecf1;
  border-radius: 15px;
  overflow: hidden;
}
.main > .container .schedule > .header {
  padding: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #6264FE;
  color: white;
  position: relative;
}
.main > .container .schedule > .header::after {
  content: "";
  border: 7px solid transparent;
  border-top-color: #6264FE;
  position: absolute;
  bottom: -13px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.main > .container .schedule > .header .calender {
  height: 400px;
  background-color: white;
  color: black;
  width: 330px;
  border-radius: 15px;
  padding: 15px;
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 4;
  -webkit-box-shadow: 20px 19px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 20px 19px 15px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.main > .container .schedule > .header .calender::before {
  content: "";
  position: absolute;
  top: -16px;
  border: 8px solid transparent;
  border-bottom-color: white;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: inherit;
  transition: inherit;
}
.main > .container .schedule > .header .calender.hidden {
  width: 0;
  height: 0;
  top: calc(100% - 25px);
  padding: 0;
}
.main > .container .schedule > .header .calender.hidden::before {
  border-color: transparent;
}
.main > .container .schedule > .header .calender .calender-container {
  height: 100%;
  overflow: hidden;
}
.main > .container .schedule > .header .calender .calender-container .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 0;
  margin-bottom: 10px;
  background-color: inherit;
}
.main > .container .schedule > .header .calender .calender-container .header div {
  padding: 10px;
  background-color: #E6F2FF;
  border-radius: 10px;
  font-family: "medium";
  color: #0077FC;
  cursor: pointer;
}
.main > .container .schedule > .header .calender .calender-container .calender-component .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 0;
  margin-bottom: 10px;
  padding: 0 15px;
  margin-bottom: 20px;
}
.main > .container .schedule > .header .calender .calender-container .calender-component .head button {
  background-color: white;
  padding: 2px;
  font-size: 14px;
  border-radius: 12px;
  width: 35px;
  height: 35px;
  cursor: pointer;
  border: none;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  color: #0077FC;
}
.main > .container .schedule > .header .calender .calender-container .calender-component .dates .week-days {
  color: #5b5e63;
}
.main > .container .schedule > .header .calender .calender-container .calender-component .dates .week-days,
.main > .container .schedule > .header .calender .calender-container .calender-component .dates .mon-days {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.main > .container .schedule > .header .calender .calender-container .calender-component .dates .week-days div,
.main > .container .schedule > .header .calender .calender-container .calender-component .dates .mon-days div {
  width: 36px;
  height: 36px;
  text-align: center;
  margin: 2px;
  line-height: 35px;
}
.main > .container .schedule > .header .calender .calender-container .calender-component .dates .mon-days {
  -ms-flex-wrap: wrap !important;
      flex-wrap: wrap !important;
}
.main > .container .schedule > .header .calender .calender-container .calender-component .dates .mon-days .mon-day {
  border-radius: 50%;
  cursor: pointer;
}
.main > .container .schedule > .header .calender .calender-container .calender-component .dates .mon-days .mon-day:hover {
  background-color: #E6F2FF;
  color: #0077FC;
}
.main > .container .schedule > .header .calender .calender-container .calender-component .dates .mon-days .mon-day.today {
  border: 1px solid #0077FC;
  color: #0077FC;
}
.main > .container .schedule > .header > div:not(.calender):not(.slider) {
  cursor: pointer;
}
.main > .container .schedule > .header > div:not(.calender) > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.main > .container .schedule > .header > div:not(.calender) > div.value {
  padding: 7px 12px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0;
}
.main > .container .schedule > .header > div:not(.calender).slider i {
  cursor: pointer;
  background-color: #8280FE;
  padding: 10px;
  border-radius: 10px;
}
.main > .container .schedule > .header .date {
  background-color: #8280FE;
  border-radius: 10px;
  padding: 7px 12px;
}
.main > .container .schedule > .header .date-scale {
  position: relative;
  background-color: #8280FE;
  border-radius: 10px;
  width: 90px;
}
.main > .container .schedule > .header .date-scale:hover .selectors {
  height: 132px;
}
.main > .container .schedule > .header .date-scale:hover .value i {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}
.main > .container .schedule > .header .date-scale .selectors {
  position: absolute;
  z-index: 3;
  top: calc(100% - 6px);
  left: 0;
  height: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  background-color: #8280FE;
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  overflow: hidden;
}
.main > .container .schedule > .header .date-scale .selectors div {
  padding: 4px 12px;
  width: 100%;
  cursor: pointer;
}
.main > .container .schedule > .header .date-scale .selectors div:first-child {
  margin-top: 6px;
}
.main > .container .schedule > .header .date-scale .selectors div:hover {
  background-color: #6264FE;
}
.main > .container .schedule .wheel-dates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 5px;
  position: relative;
}
.main > .container .schedule .wheel-dates .inner-slider {
  padding: 10px 17px;
  overflow: hidden;
  width: 100%;
}
.main > .container .schedule .wheel-dates .inner-slider .swiper-3d .swiper-slide-shadow-right {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.13)), to(rgba(0, 0, 0, 0))) !important;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.13), rgba(0, 0, 0, 0)) !important;
}
.main > .container .schedule .wheel-dates .inner-slider .swiper-3d .swiper-slide-shadow-left {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.13)), to(rgba(0, 0, 0, 0))) !important;
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.13), rgba(0, 0, 0, 0)) !important;
}
.main > .container .schedule .wheel-dates .inner-slider .slider-arrow {
  padding: 30px 15px;
  background-color: #6264FE;
  border-radius: 12px;
  color: white;
  top: 40px !important;
}
.main > .container .schedule .wheel-dates .inner-slider .slider-arrow::after {
  font-size: 19px !important;
}
.main > .container .schedule .wheel-dates .inner-slider .slider-arrow.swiper-button-next {
  right: 0;
}
.main > .container .schedule .wheel-dates .inner-slider .slider-arrow.swiper-button-prev {
  left: 0;
}
@media (max-width: 900px) {
  .main > .container .schedule .wheel-dates .inner-slider .slider-arrow {
    display: none;
  }
}
.main > .container .schedule .wheel-dates .container-wheel .ch-date {
  background-color: white;
  padding: 10px;
  border-radius: 16px;
  width: 50px !important;
  height: 100px;
  overflow: hidden !important;
  cursor: pointer !important;
}
.main > .container .schedule .wheel-dates .container-wheel .ch-date.today {
  border: 1px solid #0077FC;
  color: #0077FC;
}
.main > .container .schedule .wheel-dates .container-wheel .ch-date.selected {
  background-color: #0077FC;
  color: white;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 20px 19px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 20px 19px 15px rgba(0, 0, 0, 0.1);
}
.main > .container .schedule .wheel-dates .container-wheel .ch-date.selected .date span {
  color: #dcdcdc;
}
.main > .container .schedule .wheel-dates .container-wheel .ch-date.selected .dotes span:nth-child(1) {
  background-color: #FA9300;
}
.main > .container .schedule .wheel-dates .container-wheel .ch-date.selected .dotes span:nth-child(2) {
  background-color: #35C759;
}
.main > .container .schedule .wheel-dates .container-wheel .ch-date.selected .dotes span:nth-child(3) {
  background-color: #a0aab6;
}
.main > .container .schedule .wheel-dates .container-wheel .ch-date .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  font-size: 18px;
}
.main > .container .schedule .wheel-dates .container-wheel .ch-date span {
  font-size: 15px;
  color: #BCBDBC;
}
.main > .container .schedule .table {
  background-color: white;
  width: calc(100% - 20px);
  border-radius: 15px;
  height: 100vh;
  margin: 30px auto;
  -webkit-box-shadow: 14px 11px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 14px 11px 15px rgba(0, 0, 0, 0.1);
  overflow-x: hidden;
  overflow-y: scroll;
}
.main > .container .schedule .table .table-container .day .day-container {
  position: relative;
}
.main > .container .schedule .table .table-container .day .day-container .hour {
  border-bottom: 1px solid #95a0ae;
  width: 100%;
  color: #95a0ae;
  height: 100px;
}
.main > .container .schedule .table .table-container .day .day-container .hour:last-child {
  border: none;
}
.main > .container .schedule .table .table-container .day .day-container .hour .time {
  height: 100%;
  width: 100px;
  padding: 30px;
  border-right: 1px solid #95a0ae;
}
.main > .container .schedule .table .table-container .day .day-container .event {
  position: absolute;
  top: 100px;
  left: 120px;
  background-color: #6264FE;
  width: calc(100% - 100px - 40px);
  height: 200px;
  border-radius: 15px;
}
.main > .container .schedule .table .table-container .day .day-container .cursor {
  position: absolute;
  top: 50px;
  left: 100px;
  width: 100%;
  border-top: 1.3px solid #0077FC;
}
.main > .container .schedule .table .table-container .day .day-container .cursor .point {
  font-size: 12px;
  background-color: #0077FC;
  color: white;
  width: 20px !important;
  height: 20px;
  line-height: 21px;
  text-align: center;
  border-radius: 50%;
  position: relative;
  top: -25px;
  left: -10px;
}
.main > .container .schedule .table .table-container .day .day-container .cursor .point::after {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 1.8px;
  border: 8px solid transparent;
  border-top-color: #0077FC;
}
.main .schedule-nav {
  background-color: white;
  z-index: 10;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 300px;
  height: 100vh;
  background-color: white;
  position: fixed;
  top: 0;
  right: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: -2px 0px 15px rgba(0, 0, 0, 0.06);
          box-shadow: -2px 0px 15px rgba(0, 0, 0, 0.06);
}
.main .schedule-nav.hidden {
  right: -300px;
}
.main .schedule-nav .slider {
  opacity: 1;
  position: absolute;
  top: 50%;
  left: -38px;
  background-color: white;
  border-radius: 50% 0% 0% 50%;
  padding: 20px 10px;
  z-index: 3;
  -webkit-box-shadow: -14px 0px 15px rgba(0, 0, 0, 0.04);
          box-shadow: -14px 0px 15px rgba(0, 0, 0, 0.04);
  cursor: pointer;
}
.main .schedule-nav .slider .slider-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main .schedule-nav .slider .slider-container i {
  font-size: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.main .schedule-nav .slider .slider-container i:last-child {
  font-size: 18px;
  margin: -3px;
}
.main .schedule-nav .slider.slide-up {
  opacity: 0.8;
}
.main .schedule-nav .slider.slide-up .slider-container i {
  color: #0077FC !important;
  -webkit-transform: rotateY(0deg) !important;
          transform: rotateY(0deg) !important;
}
.main .schedule-nav .container {
  padding: 10px 5px;
  height: 100%;
}
.main .schedule-nav .container > .header {
  width: 100%;
  height: 70px;
  text-align: center;
  display: none;
}
.main .schedule-nav .container .today-events {
  margin-top: 20px;
}
.main .schedule-nav .container .today-events .event-container .header {
  font-size: 24px;
  margin-bottom: 15px;
  text-align: center;
}
.main .schedule-nav .container .today-events .event-container .events {
  overflow-y: scroll;
  height: calc(100vh - 515px);
  border-radius: 20px;
}
.main .schedule-nav .container .today-events .event-container .events .container-ev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main .schedule-nav .container .today-events .event-container .events .container-ev .box-selection {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: transparent;
  font-size: 15px;
  margin: -50px auto;
}
.main .schedule-nav .container .today-events .event-container .events .container-ev .box-selection.show {
  margin: 0 auto;
}
.main .schedule-nav .container .today-events .event-container .events .container-ev .box-selection button:first-child {
  background-color: #0077FC;
  color: white;
}
.main .schedule-nav .container .today-events .event-container .events .container-ev .box-selection button:last-child {
  background-color: #F2F2F2;
  color: black;
}
.main .schedule-nav .container .today-events .event-container .events .event {
  background-color: #F2F2F2;
  border-radius: 30px;
  height: 60px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  margin: 10px 0;
}
.main .schedule-nav .container .today-events .event-container .events .event .hover {
  height: 100%;
  background-color: #0077FC;
  position: absolute;
  left: 0;
  opacity: 0.4;
  width: 0%;
}
.main .schedule-nav .container .today-events .event-container .events .event .time {
  padding-left: 20px;
  margin-right: 15px;
  font-size: 18px;
}
.main .schedule-nav .container .today-events .event-container .events .event .info {
  font-size: 15px;
}
.main .schedule-nav .container .today-events .event-container .events .event .info .title {
  width: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.main .schedule-nav .container .today-events .event-container .events .event .info .remaining-time {
  font-size: 13px;
  color: #A0A1BC;
  padding-top: 4px;
}
.main .schedule-nav .container .today-events .event-container .events .event .bar {
  position: absolute;
  right: 0;
  font-size: 19px;
  padding: 15px;
  cursor: pointer;
}