@use '../helpers/colors'as *;
@use '../helpers/mixin'as *;
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');




.over-layout {
  width: 100vw;
  height: 100vh;
  background-color: #00000066;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
}

.disabled {
  opacity: .6 !important;
  cursor: not-allowed !important;
}



.ev-bar {
  background-color: white;
  height: 6px;
  border-radius: 10px;
  width: 100%;
  overflow: hidden;
  position: relative;

  .line-bar {
    background-color: lime;
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
    transition: 0.3s;
  }
}

.event-st {
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;

  .event-container,
  .event-bar {
    overflow: hidden;
  }

  .time {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    font-size: 18px;

    .start {
      letter-spacing: 1px;
    }

    .remaining {
      letter-spacing: 1px;
      font-weight: 400;
    }

  }

  .time-remaining {
    width: 77px;
    position: absolute;
    right: 10px;
    top: 5px;

    .per-remaining {
      font-size: 15px !important;
      padding-bottom: 15px;
      letter-spacing: .5px;
    }
  }

  .inf {
    width: 100%;
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin-top: 5px;

    title,
    .disc {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

    }

    .title {
      font-weight: bold;
      letter-spacing: 1px;
      font-size: 18px;
    }

    .disc {
      font-size: 14px;
      padding-left: 15px;
      font-family: 'Gilroy-normal';

      &.notes {
        margin-top: 10px;
      }
    }

    .urls {
      width: 100%;
      padding: 10px;
      overflow: hidden;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 15px;

      div {
        background-color: white;
        max-width: 120px;
        width: fit-content;
        padding: 5px;
        padding-right: 0px;
        overflow: hidden;
        border-radius: 15px;
        text-align: center;

        a {
          text-align: center;
          color: $mainColor;
          padding: 10px;

        }
      }
    }
  }

  .event-bar {

    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: nowrap;
    width: 100%;
    max-width: 900px;
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 5px;
    height: 20px;

    .counter,
    .full-time {
      width: 80px;
      text-align: center;
      letter-spacing: 1px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: 400;
    }

    .ev-bar {
      width: calc(100% - 180px);
    }

    @media (max-width:700px) {
      & {
        margin: 15px auto 0;

        .counter,
        .full-time {
          display: none;
        }

        .ev-bar {
          width: 100%;
        }
      }
    }
  }
}

.calender {
  height: 460px;
  background-color: white;
  color: black;
  width: 330px;
  border-radius: 15px;
  padding: 15px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 4;
  box-shadow: 20px 19px 15px rgba(0, 0, 0, 0.1);
  transition: .3s;

  &::before {
    content: '';
    position: absolute;
    top: -16px;
    border: 8px solid transparent;
    border-bottom-color: white;
    left: 50%;
    transform: translateX(-50%);
    transition: inherit;
  }

  &.hidden {
    width: 0;
    height: 0;
    top: calc(100% - 25px);
    padding: 0;

    &::before {
      border-color: transparent;
    }
  }

  .calender-container {
    height: 100%;
    overflow: hidden;

    .calender-component {
      .head {
        padding: 10px 0;
        margin-bottom: 10px;
        text-align: center;
        user-select: none;
      }

      .swiper-coverflow {
        overflow: unset !important;

        .swiper-wrapper {
          cursor: unset !important;
        }

        .swiper-button-next,
        .swiper-button-prev {
          top: -66px;

          &::after {
            font-size: 20px !important;
          }
        }
      }

      .dates {
        $width: 37px;
        $height: 38px;

        .week-days {
          color: #5b5e63;
        }

        .week-days,
        .mon-days {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 0 5px;
          justify-content: flex-start;
          flex-wrap: nowrap;

          >div {
            width: $width;
            height: $height;
            text-align: center;
            margin: 2px;
            line-height: 35px;
          }
        }

        .mon-days {
          flex-wrap: wrap !important;

          .mon-day {
            border-radius: 50%;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-wrap: nowrap;
            .dotes{
              flex-direction: row;
              gap: 2px;
              margin-top: -10px;
              span{
                margin: 0;
              }
            }


            &:hover {
              background-color: #E6F2FF;
              color: $mainColor;
            }

            &.today {
              border: 1px solid $mainColor;
              color: $mainColor;
            }

            &.select {
              background-color: #E6F2FF !important;
              color: $mainColor !important;
            }

            &.selected {
              background-color: $mainColor !important;
              color: white !important;
              .dotes{
              span{
                background-color: white !important;
              }
              i{
                color: white;
              }
            }
            }
          }
        }
      }


      .start-end {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        flex-wrap: nowrap;
        padding: 0 15px;
        user-select: none;

        div,
        .btn {
          border: 1px solid #5100B6;
          border-radius: 15px;
          padding: 6px 15px;
          font-size: 15px;
          color: $mainColorIcons;
          color: #545454;

        }
      }

      .options {
        margin-top: 15px;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;

        .btn {
          background-color: white;
          padding: 7px 35px;
          color: black;
          border-radius: 17px;
          border: 1px solid #5100B6;

          &.apply {
            background-color: #5100B6;
            color: white;
            padding: 7px 45px;
          }
        }
      }
    }

  }
}

.event-pop {
  background-color: inherit;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: .3s;
  border-radius: 10px;
  overflow: hidden;
  height: 0;
  width: 0;
  bottom: calc(100% - 15px);
  opacity: 0;
  padding: 5px 10px;
  z-index: 2;


  &.bottom {
    bottom: unset;
    top: calc(100% - 15px);

    &::after {
      bottom: unset;
      top: -15px;
      border-top-color: transparent;
      border-bottom-color: inherit;
    }
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -15px;
    border: 8px solid transparent;
    border-top-color: inherit;
    left: 50%;
    transform: translateX(-50%);
  }

  .inf {
    height: fit-content;
    max-height: 240px;
    overflow: scroll;

    .title,
    .disc {
      white-space: unset;
    }
  }

  .event-bar {
    position: unset;
    transform: unset;
  }

  &.show {
    opacity: 1;
    bottom: calc(100% + 15px);
    max-height: 300px;
    height: fit-content;
    width: 100%;
    overflow: unset;


    &.bottom {
      bottom: unset;
      top: calc(100% + 15px);
    }

    @media (min-width:900px) {
      min-width: 500px;
    }
  }

}

.swiper-slide-shadow-right,
.swiper-slide-shadow-left {
  display: none !important;
}

.swiper-button-next,
.swiper-button-prev {

  &::after {
    color: #5100B6;
    font-size: 25px !important;
  }
}


.event-form {
  width: 100%;
  background-color: $navColor;
  position: absolute;
  top: 0;
  z-index: -1;

  .card {
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    max-width: 500px;
    height: 100%;
    margin: 100px auto 20px;
    border-radius: 20px;
    position: relative;
    letter-spacing: 1px;

    .cancel-form {
      position: absolute;
      right: 0;
      z-index: 1;

      button {
        font-weight: 500;
        color: $mainColor;
        border: none;
        padding: 20px;
        font-size: 18px;
        cursor: pointer;
        letter-spacing: 1px;
        background-color: transparent;
      }
    }

    form {
      padding: 2rem 1rem 0;

      input {
        appearance: none;
        border-radius: 0;
        letter-spacing: 1px;
      }
    }
  }

  .colors {
    display: flex;
    align-items: center;
    margin: 10px 0;
    flex-wrap: nowrap;
    justify-content: space-between;

    label {
      color: #6658d3;
      font-size: 18px;
    }

    span {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      margin-left: 10px;
      cursor: pointer;
      transition: .3s;

      &.selected {
        transform: scale(1.3);
      }
    }
  }

  .input {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    padding-top: 1.5rem;

    &+.input {
      margin-top: 1.5rem;
    }
  }

  .input-label {
    color: #8597a3;
    position: absolute;
    top: 1.5rem;
    transition: .25s ease;
  }

  .input-field {
    border: 0;
    z-index: 1;
    background-color: transparent;
    border-bottom: 2px solid #eee;
    font: inherit;
    font-size: 1.125rem;
    padding: .25rem 0;

    &:focus,
    &:valid {
      outline: 0;
      border-bottom-color: #6658d3;

      &+.input-label {
        color: #6658d3;
        transform: translateY(-1.5rem);

      }
    }
  }

  .text-area {
    margin-top: 10px;

    label {
      margin: -25px 0 0 5px;
      color: #6658d3;
      font-size: 18px;
    }

    textarea {
      resize: vertical;
      font-family: Arial, sans-serif;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 1.125rem;
      line-height: 1.6;
      outline: none;
      letter-spacing: 1.5px;
      height: 150px;
    }
  }

  .url {
    .first-in {
      margin-bottom: 20px;
    }

    .button {
      font: inherit;
      font-size: 1.25rem;
      padding: 5px;
      width: 100px;
      font-weight: 500;
      background-color: #6658d3;
      border-radius: 20px;
      color: #FFF;
      border: 0;
      margin: 10px auto 0;
      cursor: pointer;
      text-align: center;
    }
  }

  .urls {
    height: 50px;
    width: 100%;
    padding: 10px;
    overflow: hidden;
    overflow-x: scroll;
    display: flex;
    align-items: center;
    gap: 15px;

    div {
      display: flex;
      align-items: center;
      background-color: $mainColor;
      color: white;
      width: 100px;
      min-width: 100px;
      padding: 5px;
      padding-right: 0px;
      overflow: hidden;
      border-radius: 10px;

      i {
        cursor: pointer;
        width: 30%;
        padding-left: 8px;
      }

      a {
        color: white;
        width: 70%;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }

  }

  .action {
    margin-top: 2rem;
    padding-bottom: 1rem;

    .action-button {
      font: inherit;
      font-size: 1.25rem;
      padding: 1em;
      width: 100%;
      font-weight: 500;
      background-color: #6658d3;
      border-radius: 6px;
      color: #FFF;
      border: 0;
      cursor: pointer;

      &:focus {
        outline: 0;
      }
    }
  }

  .date-clock {
    padding: 0 !important;

    .date-container {
      .header {
        display: flex;
        align-items: center;
        color: $mainColorIcons;
        position: relative;

        &.clock-show {
          button.clock-btn {
            svg {
              color: #6658d3 !important;
            }
          }

          span {
            left: 50% !important;
          }
        }

        &.calender-show {
          button.calender-btn {
            svg {
              color: #6658d3 !important;
            }
          }

          span {
            left: 0 !important;
          }
        }

        button {
          width: 50%;
          outline: 0;
          border: 0;
          margin: 0;
          border-radius: 0;
          font-family: "Roboto", "Helvetica", "Arial", sans-serif;
          font-weight: 500;
          font-size: 0.875rem;
          line-height: 1.25;
          letter-spacing: 0.02857em;
          text-transform: uppercase;
          max-width: none;
          min-width: 90px;
          position: relative;
          min-height: 48px;
          flex-shrink: 1;
          padding: 12px 16px;
          overflow: hidden;
          white-space: normal;
          text-align: center;
          color: rgba(0, 0, 0, 0.6);
          cursor: pointer;
          background-color: transparent;
          border-bottom: 1px solid #EFEFEF;

          svg {
            user-select: none;
            width: 1em;
            height: 1em;
            display: inline-block;
            fill: currentColor;
            flex-shrink: 0;
            transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            font-size: 1.5rem;
          }
        }

        span {
          overflow: hidden;
          pointer-events: none;
          position: absolute;
          z-index: 0;
          bottom: 0;
          border-radius: inherit;
          border-bottom: 1.5px solid #6658d3;
          transition: .3s;
          left: 0;
          width: 50%;
        }
      }

      .content-components {
        .calender {
          height: fit-content;
          position: unset;
          transform: unset;
          box-shadow: unset;
          margin: auto;
          padding-bottom: 0;

          &::before {
            display: none;
          }
        }

        .clock {
          .container-clock {
            display: flex;
            flex-direction: row;
            align-items: center;
            flex-wrap: nowrap;
            justify-content: space-between;
            padding: 10px 5px 0;

            .time {
              display: flex;
              flex-direction: row;
              align-items: center;
              flex-wrap: nowrap;

              .hours,
              .minutes,
              .am,
              .pm {
                cursor: pointer;
              }

              span.text {
                margin: 0;
                font-family: "Roboto", "Helvetica", "Arial", sans-serif;
                font-weight: 400;
                font-size: 3rem;
                line-height: 1.167;
                letter-spacing: 0em;
                -webkit-transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
                transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
                color: rgba(0, 0, 0, 0.6);

                &.clicked {
                  color: #5100B6;
                }
              }

              .AM-PM {
                margin-left: 10px;

                .pm {
                  margin-top: 4px;
                }

                span.text {
                  font-size: 17px;
                }
              }
            }
          }
        }
      }
    }
  }

}

.main {
  >.container {
    width: 95%;
    margin: auto;

    .head-schedule {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0 5px;
      margin: 20px auto;
      font-size: 27px !important;
      align-items: center;
      flex-wrap: nowrap;
      position: relative;

      .text {
        display: flex;
        letter-spacing: 1px;
        color: $mainColor;
        gap: 10px;
        font-weight: 500;
        font-family: 'Gilroy-normal';

      }

      button {
        font-size: 18px;
      }
    }

    .top-events {
      overflow: hidden;
      height: 170px;

      .swiper {
        overflow: unset !important;

        .swiper-button-next,
        .swiper-button-prev {
          top: unset;
          bottom: -60px;
          left: 50%;
        }

        .swiper-button-next {
          transform: translateX(35px);
        }

        .swiper-button-prev {
          transform: translateX(-70px);
        }

        .swiper-pagination {
          bottom: -25px;
          top: unset;
        }
      }

      .event-dev {
        margin-top: 0 !important;
        min-height: 110px;
      }
    }

    .schedule {
      background-color: #eaecf1;
      border-radius: 20px;
      padding-bottom: 30px;


      >.header {
        padding: 17px;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: nowrap;
        justify-content: space-between;
        background-color: #6264FE;
        color: white;
        position: relative;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;

        &::after {
          content: '';
          border: 7px solid transparent;
          border-top-color: #6264FE;
          position: absolute;
          bottom: -13px;
          left: 50%;
          transform: translateX(-50%);
        }


        >div:not(.calender) {
          & {
            cursor: pointer;
            z-index: 5;
          }

          >div {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            gap: 10px;

            &.value {
              padding: 7px 12px;
              justify-content: space-between;
              gap: 0;
            }
          }

          &.slider {
            background-color: #8280FE;
            padding: 7px 12px;
            border-radius: 10px;
            letter-spacing: .8px;

          }
        }

        .date {
          background-color: #8280FE;
          border-radius: 10px;
          padding: 7px 12px;
        }

        .date-scale {
          background-color: #8280FE;
          border-radius: 10px;
          width: 105px;
          padding: 7px 5px;
          white-space: nowrap;
          text-align: center;

        }

        .today {
          .date {
            padding: 7px;
          }

          .text {
            white-space: nowrap;
            text-align: center;
            letter-spacing: 0.8px;
          }
        }
      }

      .wheel-dates {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: center;
        padding: 0 5px;
        position: relative;

        .inner-slider {
          width: 90%;
        }

        .swiper-button-next {
          right: 0;
        }

        .swiper-button-prev {
          left: 0;
        }

        .swiper-button-next,
        .swiper-button-prev {
          &::after {
            font-size: 20px;
            padding: 20px 7px;
            background-color: #6264FE;
            border-radius: 10px;
            color: white;

          }
        }

        .container-wheel {
          .ch-date {
            padding: 10px;
            width: 50px !important;
            height: 100px;
            cursor: pointer !important;


            &.today {
              .date {
                color: #5100B6 !important;
              }
            }

            .date {
              display: flex;
              flex-direction: column;
              align-items: center;
              gap: 5px;
              font-size: 30px;
              color: #7e8ea3;
              font-weight: bold;
              position: relative;
            }

            span {
              font-size: 13px;
            }
          }

        }

      }

      .table {
        background-color: white;
        width: calc(100% - 25px);
        border-radius: 15px;
        height: fit-content;
        margin: 40px auto 0;

        .table-container {
          .day {
            position: relative;

            .day-date {
              position: absolute;
              top: -32px;
              left: 50%;
              transform: translateX(-50%);
              background-color: #7303ff;
              padding: 5px 10px;
              border-top-left-radius: 15px;
              border-top-right-radius: 15px;
              color: white;
              font-size: 18px;
              width: 85px;
              text-align: center;
              white-space: nowrap;
            }

            .day-container {
              position: relative;
              $hoursWidth: 70px;

              .hours {
                .hour {
                  width: 100%;
                  color: #647993;
                  height: 60px;
                  display: flex;
                  flex-direction: row;
                  align-items: flex-start;
                  flex-wrap: nowrap;

                  &:nth-child(1) {
                    .time {
                      line-height: 25px;
                    }

                    .container {
                      border: none;
                    }
                  }

                  .container {
                    width: calc(100% - $hoursWidth);
                    border-bottom: 1px solid #95a0ae59;
                  }

                  .time {
                    height: calc(100% + 9px);
                    height: 100%;
                    width: $hoursWidth;
                    padding-left: 10px;
                    border-right: 1px solid #95a0ae59;
                    line-height: 0;
                  }
                }
              }

              .container-swipes-evs {
                position: absolute;
                top: 0;
                width: calc(100% - 58px);
                right: -12px;
                overflow: hidden;
                height: 100%;

                .swiper {
                  position: absolute;
                  top: 0;
                  width: 100%;
                  height: fit-content;
                  right: 0;
                  overflow: unset;

                  .swiper-button-next,
                  .swiper-button-prev {
                    display: none;
                  }

                  .swiper-pagination {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    flex-wrap: nowrap;
                    top: 0;
                    gap: 7px;
                    right: 0;
                    left: unset;
                    width: 13px;
                    background-color: #eaecf1;
                    ;
                    border-left: 1px solid white;
                    height: 100%;
                    margin: 0;

                    span {
                      width: 10px;
                      height: 10px;
                    }
                  }

                  .event-dev {
                    width: 100%;
                    height: 150px;
                    position: relative;
                    margin: 0 auto;

                    @media (max-width:900px) {
                      width: 90%;
                    }
                  }

                  .swiper-slide-active {
                    .event-dev {
                      .event-pop {
                        &.show {
                          opacity: 1;
                          bottom: calc(100% + 15px);
                          // max-height: 300px;
                          height: fit-content;
                          // overflow: unset;
                          width: 100%;
                          overflow: unset;


                          &.bottom {
                            bottom: unset;
                            top: calc(100% + 15px);
                          }

                          @media (min-width:900px) {
                            min-width: 500px;
                          }
                        }
                      }
                    }
                  }
                }
              }

              .cursor {
                position: absolute;
                top: 50px;
                left: $hoursWidth;
                width: calc(100% - $hoursWidth);
                border-top: 1.5px solid $mainColor;
                z-index: 4;
                height: 0;

                .point {
                  font-size: 12px;
                  background-color: $mainColor;
                  color: white;
                  width: 20px !important;
                  height: 20px;
                  line-height: 21px;
                  text-align: center;
                  border-radius: 50%;
                  position: relative;
                  top: -25px;
                  left: -10px;

                  &::after {
                    content: "";
                    position: absolute;
                    bottom: -12px;
                    left: 1.9px;
                    border: 8px solid transparent;
                    border-top-color: #0077FC;
                  }
                }
              }
            }
          }

          .days {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: center;
            padding: 20px 10px;

            >div {
              width: 100%;
              max-width: 300px;
              height: 200px;
              border-radius: 15px;
              box-shadow: 1px 0px 15px rgba(0, 0, 0, 0.09);
              position: relative;
              padding-bottom: 5px;

              &.today {
                color: #7303ff;

                .date {
                  font-weight: bold;
                }

                .next-event {
                  transform: scale(1.01);

                  .ev-details {

                    .title,
                    .time-ev {
                      color: $mainColor;
                    }
                  }

                }
              }

              .date {
                text-align: center;
                width: 80px;
                padding: 10px 0 5px;
                margin: auto;
                white-space: nowrap;
                letter-spacing: 1px;
              }

              .events {
                height: 165px;
                width: 100%;
                padding: 10px 0 5px;
                overflow-y: scroll;

                .event {
                  padding: 5px 7px;
                  margin-bottom: 4px;
                  position: relative;
                  transition: .3s;
                  cursor: pointer;
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  flex-wrap: nowrap;
                  letter-spacing: 1px;
                  color: #585e66;

                  &.clicked {
                    color: white;
                    transform: scale(1.01);
                  }


                  .sp-ev-color {
                    background-color: $mainColor;
                    border-radius: 50%;
                    height: 7px;
                    width: 7px;
                    margin-right: 7px;
                  }

                  .title {
                    width: 75% !important;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                  }

                  .time-ev {
                    width: 20% !important;
                    text-align: end;
                    font-weight: 500;
                    min-width: 80px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}



@media (max-width:900px) {
  .top-events {
    height: 140px !important;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }
}