@use '../helpers/colors'as *;
@use '../helpers/mixin'as *;






.main {
  >.container {
    margin-left: 20px;
    margin-top: 60px;
    height: calc(100vh - 60px);
    overflow: scroll;

    .schedule {
      width: 95%;
      background-color: #eaecf1;
      border-radius: 15px;
      overflow: hidden;

      >.header {
        padding: 17px;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: nowrap;
        justify-content: space-between;
        background-color: #6264FE;
        color: white;
        position: relative;

        &::after {
          content: '';
          border: 7px solid transparent;
          border-top-color: #6264FE;
          position: absolute;
          bottom: -13px;
          left: 50%;
          transform: translateX(-50%);
        }

        .calender {
          height: 400px;
          background-color: white;
          color: black;
          width: 330px;
          border-radius: 15px;
          padding: 15px;
          position: absolute;
          top: 100%;
          left: 50%;
          transform: translateX(-50%);
          z-index: 4;
          box-shadow: 20px 19px 15px rgba(0, 0, 0, 0.1);
          transition: .3s;

          &::before {
            content: '';
            position: absolute;
            top: -16px;
            border: 8px solid transparent;
            border-bottom-color: white;
            left: 50%;
            transform: translateX(-50%);
            transition: inherit;
          }

          &.hidden {
            width: 0;
            height: 0;
            top: calc(100% - 25px);
            padding: 0;

            &::before {
              border-color: transparent;
            }
          }


          .calender-container {
            height: 100%;
            overflow: hidden;

            .header {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: space-between;
              padding: 5px 0;
              margin-bottom: 10px;
              background-color: inherit;

              div {
                padding: 10px;
                background-color: #E6F2FF;
                border-radius: 10px;
                font-family: 'medium';
                color: $mainColor;
                cursor: pointer;
              }
            }

            .calender-component {
              .head {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                padding: 5px 0;
                margin-bottom: 10px;
                padding: 0 15px;
                margin-bottom: 20px;

                button {
                  background-color: white;
                  padding: 2px;
                  font-size: 14px;
                  border-radius: 12px;
                  width: 35px;
                  height: 35px;
                  cursor: pointer;
                  border: none;
                  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
                  color: $mainColor;
                }
              }

              .dates {
                $width: 36px;
                $height: 36px;

                .week-days {
                  font-family: 'bold';
                  color: #1D0058;
                }

                .week-days,
                .mon-days {
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  padding: 0 5px;
                  justify-content: flex-start;
                  flex-wrap: nowrap;

                  div {
                    width: $width;
                    height: $height;
                    text-align: center;
                    margin: 2px;
                    line-height: 35px;
                  }
                }

                .mon-days {
                  flex-wrap: wrap !important;

                  .mon-day {
                    border-radius: 50%;
                    cursor: pointer;

                    &:hover {
                      background-color: #E6F2FF;
                      color: $mainColor;
                    }

                    &.today {
                      border: 1px solid $mainColor;
                      color: $mainColor;
                    }
                  }

                }
              }

            }

          }
        }

        >div:not(.calender) {
          cursor: pointer;

          >div {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            gap: 10px;
            background-color: #8280FE;
            padding: 7px 12px;
            border-radius: 10px;
          }
        }
      }

      .wheel-dates {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: center;
        padding: 0 5px;
        position: relative;



        .inner-slider {
          padding: 10px 17px;
          overflow: hidden;
          width: 100%;

          .swiper-3d {

            .swiper-slide-shadow-right {
              background-image: linear-gradient(to right, rgba(0, 0, 0, .13), rgba(0, 0, 0, 0)) !important;
            }

            .swiper-slide-shadow-left {
              background-image: linear-gradient(to left, rgba(0, 0, 0, .13), rgba(0, 0, 0, 0)) !important;
            }
          }

          .slider-arrow {
            padding: 30px 15px;
            background-color: #6264FE;
            border-radius: 12px;
            color: white;
            top: 40px !important;

            &::after {
              font-size: 19px !important;
            }

            &.swiper-button-next {
              right: 0;
            }

            &.swiper-button-prev {
              left: 0;
            }

            @media (max-width:900px) {
              display: none;
            }
          }
        }

        .container-wheel {
          .ch-date {
            background-color: white;
            padding: 10px;
            border-radius: 16px;
            // box-shadow: 3px 1px 15px rgba(0, 0, 0, 0.06);
            // cursor: pointer;
            width: 50px !important;
            height: 100px;
            overflow: hidden !important;
            cursor: pointer !important;

            // &.swiper-slide-active {}

            &.today {
              border: 1px solid $mainColor;
              color: $mainColor;
            }

            &.selected {
              background-color: $mainColor;
              color: white;
              transform: scale(1.1);
              box-shadow: 20px 19px 15px rgba(0, 0, 0, 0.1);

              .date {
                span {
                  color: #dcdcdc;
                }
              }

              .dotes {
                @include selectedDotes;
              }
            }

            .date {
              display: flex;
              flex-direction: column;
              align-items: center;
              gap: 5px;
              font-size: 18px;
            }

            span {
              font-size: 15px;
              color: #BCBDBC;
            }
          }

        }

      }
    }
  }

  .schedule-nav {
    background-color: white;
    $widthSlider: 300px;
    z-index: 10;
    transition: .3s;
    width: $widthSlider;
    height: 100vh;
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    transition: .5s;
    box-shadow: -2px 0px 15px rgba(0, 0, 0, 0.06);

    &.hidden {
      right: -$widthSlider;
    }

    .slider {
      opacity: 1;
      position: absolute;
      top: 50%;
      left: -38px;
      background-color: white;
      border-radius: 50% 0% 0% 50%;
      padding: 20px 10px;
      z-index: 3;
      box-shadow: -14px 0px 15px rgba(0, 0, 0, 0.04);
      cursor: pointer;

      .slider-container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        i {
          font-size: 20px;
          transition: .5s;
          transform: rotateY(180deg);

          &:last-child {
            font-size: 18px;
            margin: -3px;
          }
        }

      }

      &.slide-up {
        opacity: .8;

        .slider-container {
          i {
            color: $mainColor !important;
            transform: rotateY(0deg) !important;
          }
        }
      }
    }

    .container {
      padding: 10px 5px;
      height: 100%;

      >.header {
        width: 100%;
        height: 70px;
        text-align: center;
        display: none;
      }


      .today-events {
        margin-top: 20px;

        .event-container {
          .header {
            font-size: 24px;
            margin-bottom: 15px;
            text-align: center;
          }

          .events {
            overflow-y: scroll;
            height: calc(100vh - 515px);
            border-radius: 20px;

            .container-ev {
              display: flex;
              flex-direction: column;
              justify-content: center;

              .box-selection {
                width: 80%;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 30px;
                transition: .3s;
                background-color: transparent;
                font-size: 15px;
                margin: -50px auto;

                &.show {
                  margin: 0 auto;
                }

                button:first-child {
                  background-color: $mainColor;
                  color: white;
                }

                button:last-child {
                  background-color: #F2F2F2;
                  color: black;
                }
              }
            }

            .event {
              background-color: #F2F2F2;
              border-radius: 30px;
              height: 60px;
              position: relative;
              display: flex;
              flex-direction: row;
              flex-wrap: nowrap;
              align-items: center;
              overflow: hidden;
              margin: 10px 0;

              .hover {
                height: 100%;
                background-color: $mainColor;
                position: absolute;
                left: 0;
                opacity: .4;
                width: 0%;
              }

              .time {
                padding-left: 20px;
                margin-right: 15px;
                font-size: 18px;
              }

              .info {
                font-size: 15px;

                .title {
                  width: 160px;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                }

                .remaining-time {
                  font-size: 13px;
                  color: #A0A1BC;
                  padding-top: 4px;
                }
              }

              .bar {
                position: absolute;
                right: 0;
                font-size: 19px;
                padding: 15px;
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
}