.main {
  width: 100%;
}
.main > .container {
  margin-left: 20px;
  margin-top: 60px;
  height: calc(100vh - 60px);
  overflow: scroll;
}
.main > .container .schedule {
  width: 95%;
  background-color: #eaecf1;
  border-radius: 15px;
  overflow: hidden;
}
.main > .container .schedule .header {
  padding: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #6264FE;
  color: white;
}
.main > .container .schedule .header > div {
  cursor: pointer;
}
.main > .container .schedule .header > div > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  background-color: #8280FE;
  padding: 7px 12px;
  border-radius: 10px;
}
.main > .container .schedule .wheel-dates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 5px;
  position: relative;
}
.main > .container .schedule .wheel-dates .container-wheel {
  padding: 10px 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  overflow-x: auto;
  width: calc(100% - 20px);
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
}
.main > .container .schedule .wheel-dates .container-wheel .ch-date {
  scroll-snap-align: start;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-color: white;
  padding: 10px;
  border-radius: 16px;
  -webkit-box-shadow: 3px 1px 15px rgba(0, 0, 0, 0.06);
          box-shadow: 3px 1px 15px rgba(0, 0, 0, 0.06);
  cursor: pointer;
}
.main > .container .schedule .wheel-dates .container-wheel .ch-date:target {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}
.main > .container .schedule .wheel-dates .container-wheel .ch-date.today {
  border: 1px solid #0077FC;
  color: #0077FC;
}
.main > .container .schedule .wheel-dates .container-wheel .ch-date.selected {
  background-color: #0077FC;
  color: white;
}
.main > .container .schedule .wheel-dates .container-wheel .ch-date.selected .date span {
  color: #dcdcdc;
}
.main > .container .schedule .wheel-dates .container-wheel .ch-date.selected .dotes span:nth-child(1) {
  background-color: #FA9300;
}
.main > .container .schedule .wheel-dates .container-wheel .ch-date.selected .dotes span:nth-child(2) {
  background-color: #35C759;
}
.main > .container .schedule .wheel-dates .container-wheel .ch-date.selected .dotes span:nth-child(3) {
  background-color: #a0aab6;
}
.main > .container .schedule .wheel-dates .container-wheel .ch-date .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  font-size: 18px;
}
.main > .container .schedule .wheel-dates .container-wheel .ch-date span {
  font-size: 15px;
  color: #BCBDBC;
}
.main .schedule-nav {
  z-index: 10;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 300px;
  height: 100vh;
  background-color: white;
  position: fixed;
  top: 0;
  right: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: -2px 0px 15px rgba(0, 0, 0, 0.06);
          box-shadow: -2px 0px 15px rgba(0, 0, 0, 0.06);
}
.main .schedule-nav.hidden {
  right: -300px;
}
.main .schedule-nav .slider {
  opacity: 1;
  position: absolute;
  top: 50%;
  left: -38px;
  background-color: white;
  border-radius: 50% 0% 0% 50%;
  padding: 20px 10px;
  z-index: 3;
  -webkit-box-shadow: -14px 0px 15px rgba(0, 0, 0, 0.04);
          box-shadow: -14px 0px 15px rgba(0, 0, 0, 0.04);
  cursor: pointer;
}
.main .schedule-nav .slider .slider-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main .schedule-nav .slider .slider-container i {
  font-size: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.main .schedule-nav .slider .slider-container i:last-child {
  font-size: 18px;
  margin: -3px;
}
.main .schedule-nav .slider.slide-up {
  opacity: 0.8;
}
.main .schedule-nav .slider.slide-up .slider-container i {
  color: #0077FC !important;
  -webkit-transform: rotateY(0deg) !important;
          transform: rotateY(0deg) !important;
}
.main .schedule-nav .container {
  padding: 10px 5px;
  height: 100%;
}
.main .schedule-nav .container > .header {
  width: 100%;
  height: 70px;
  text-align: center;
  display: none;
}
.main .schedule-nav .container .calender {
  height: 400px;
  overflow: hidden;
}
.main .schedule-nav .container .calender .calender-container {
  height: 100%;
}
.main .schedule-nav .container .calender .calender-container .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 0;
  margin-bottom: 10px;
}
.main .schedule-nav .container .calender .calender-container .header div {
  padding: 10px;
  background-color: #E6F2FF;
  border-radius: 10px;
  font-family: "medium";
  color: #0077FC;
  cursor: pointer;
}
.main .schedule-nav .container .calender .calender-container .calender-component .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 0;
  margin-bottom: 10px;
  padding: 0 15px;
  margin-bottom: 20px;
}
.main .schedule-nav .container .calender .calender-container .calender-component .head button {
  background-color: white;
  padding: 2px;
  font-size: 14px;
  border-radius: 12px;
  width: 35px;
  height: 35px;
  cursor: pointer;
  border: none;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  color: #0077FC;
}
.main .schedule-nav .container .calender .calender-container .calender-component .dates .week-days {
  font-family: "bold";
  color: #1D0058;
}
.main .schedule-nav .container .calender .calender-container .calender-component .dates .week-days,
.main .schedule-nav .container .calender .calender-container .calender-component .dates .mon-days {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.main .schedule-nav .container .calender .calender-container .calender-component .dates .week-days div,
.main .schedule-nav .container .calender .calender-container .calender-component .dates .mon-days div {
  width: 36px;
  height: 36px;
  text-align: center;
  margin: 2px;
  line-height: 35px;
}
.main .schedule-nav .container .calender .calender-container .calender-component .dates .mon-days {
  -ms-flex-wrap: wrap !important;
      flex-wrap: wrap !important;
}
.main .schedule-nav .container .calender .calender-container .calender-component .dates .mon-days .mon-day {
  border-radius: 50%;
  cursor: pointer;
}
.main .schedule-nav .container .calender .calender-container .calender-component .dates .mon-days .mon-day:hover {
  background-color: #E6F2FF;
  color: #0077FC;
}
.main .schedule-nav .container .calender .calender-container .calender-component .dates .mon-days .mon-day.today {
  border: 1px solid #0077FC;
  color: #0077FC;
}
.main .schedule-nav .container .today-events {
  margin-top: 20px;
}
.main .schedule-nav .container .today-events .event-container .header {
  font-size: 24px;
  margin-bottom: 15px;
  text-align: center;
}
.main .schedule-nav .container .today-events .event-container .events {
  overflow-y: scroll;
  height: calc(100vh - 515px);
  border-radius: 20px;
}
.main .schedule-nav .container .today-events .event-container .events .container-ev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main .schedule-nav .container .today-events .event-container .events .container-ev .box-selection {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: transparent;
  font-size: 15px;
  margin: -50px auto;
}
.main .schedule-nav .container .today-events .event-container .events .container-ev .box-selection.show {
  margin: 0 auto;
}
.main .schedule-nav .container .today-events .event-container .events .container-ev .box-selection button:first-child {
  background-color: #0077FC;
  color: white;
}
.main .schedule-nav .container .today-events .event-container .events .container-ev .box-selection button:last-child {
  background-color: #F2F2F2;
  color: black;
}
.main .schedule-nav .container .today-events .event-container .events .event {
  background-color: #F2F2F2;
  border-radius: 30px;
  height: 60px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  margin: 10px 0;
}
.main .schedule-nav .container .today-events .event-container .events .event .hover {
  height: 100%;
  background-color: #0077FC;
  position: absolute;
  left: 0;
  opacity: 0.4;
  width: 0%;
}
.main .schedule-nav .container .today-events .event-container .events .event .time {
  padding-left: 20px;
  margin-right: 15px;
  font-size: 18px;
}
.main .schedule-nav .container .today-events .event-container .events .event .info {
  font-size: 15px;
}
.main .schedule-nav .container .today-events .event-container .events .event .info .title {
  width: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.main .schedule-nav .container .today-events .event-container .events .event .info .remaining-time {
  font-size: 13px;
  color: #A0A1BC;
  padding-top: 4px;
}
.main .schedule-nav .container .today-events .event-container .events .event .bar {
  position: absolute;
  right: 0;
  font-size: 19px;
  padding: 15px;
  cursor: pointer;
}