@font-face {
  font-family: 'bold';
  src: url('./fonts/Gilroy-Bold.ttf') format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: 'medium';
  src: url('./fonts/Gilroy-Medium.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'light';
  src: url('./fonts/Gilroy-Regular.ttf') format('truetype');
  font-weight: lighter;
}