@font-face {
  font-family: 'Gilroy Bold';
  src: url('./fonts/Gilroy-Bold.ttf') format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: 'Gilroy Medium';
  src: url('./fonts/Gilroy-Medium.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'Gilroy Normal';
  src: url('./fonts/Gilroy-Regular.ttf') format('truetype');
  font-weight: lighter;
}