* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:after,
*:before {
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif !important;
  overflow: hidden;
  font-size: 16px;
}

#preLoader {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: white;
  z-index: 100;
  justify-content: center;
  transition: .5s;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  gap: 5px;
}

#preLoader .logo-design {
  width: 70px;
  height: 73px;
}

#preLoader .logo-design.spin {
  animation: spin 2s;
}

#preLoader .text {
  display: flex;
  position: relative;
  left: 20px;
  flex-direction: row;
  align-items: center;
  font-size: 20px;
  text-transform: uppercase;
  font-family: 'medium';
  letter-spacing: 3px;
  text-align: center;
  width: 195px;
  overflow: hidden;
  font-weight: 900;
  height: 30px;
}

@media (max-width:700px) {
  #preLoader .text {
    width: 210px !important;
  }
}

#preLoader .text .first {
  color: #4353DD;
  position: absolute;
  left: 0;
  animation: show 1s ease-in-out;
}

#preLoader .text .second {
  position: absolute;
  right: 0;
  top: 30px;
  animation: show 1s .7s ease-in-out forwards;
  color: #62D5E1;
  transition: .5s;
}


@keyframes show {
  0% {
    top: 30px;
  }

  90% {
    top: 2px;
  }

  100% {
    top: 2px;
  }
}




.logo-design {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.logo-design.spin {
  animation: spin 2s infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.logo-design span {
  width: 50%;
  height: 50%;
  border-radius: 50%;
  border: 2px solid white !important;
}

.logo-design span:nth-child(1) {
  background-color: #4353dd;
  margin-top: 5px;
  margin-right: -3px;
  z-index: 2;
}

.logo-design span:nth-child(2) {
  background-color: #62d5e1;
  position: absolute;
  top: 0px;
  z-index: 3;
}

.logo-design span:nth-child(3) {
  background-color: #6264fe;
  margin-top: 5px;
  margin-left: -3px;
}