@use './helpers/fonts';
@use './helpers/colors' as *;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Gilroy Medium';
font-size: 16px;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: initial;
}

.nav-text-icon{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 15px;
  padding-left: 20px;
}
nav{
    position: fixed;
    background-color: white;
    height: 100vh;
    left: 0;
    top: 0;
    .nav{
      width: 180px;
      height: 100%;
      .container{
        width: 100%;
        height: 100%;
        .header-nav{     
          margin-bottom: 30px;     
          .logo{
            gap:7px;
            margin-top: 9px;
            margin-bottom: 20px;
            img{
              width: 25px;
            }
            .text{
              font-family: 'Gilroy Bold' !important; 
              font-size: 13px;
            }
          }
          .user-account{
            a{
            padding: 0;
            margin-left: 20px;
            gap: 10px;
            padding-bottom: 20px;
            border-bottom: 1px solid $mainColorIcons;
            }
            img{
              width: 50px;
              border-radius: 50%;
            }
            .text{
              .name{
                font-family: 'Gilroy Bold' !important; 
                margin-bottom: 4px;
              }
              .title{
                font-size: 14px;
                color: $mainColorIcons;
              }
            }
          }
        }
        .app-options{
          ul{
            li{
              position: relative;
              &.clicked::before{
                content: "";
                background-color: $mainColor;
                width: 5px;
                height: 50px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
              }
              a,.logout{
                padding-top: 20px;
                padding-bottom: 20px;
              }
              .icon{
                color:$mainColorIcons;
              }
                >:hover{
                  cursor: pointer;
                  .text,.icon{
                    color: $mainColor !important;
                  }
                }
            }
            
          }
        }
      }
    }
    
}