@font-face {
  font-family: "bold";
  src: url("./fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "medium";
  src: url("./fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "light";
  src: url("./fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: lighter;
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "medium";
  font-size: 16px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: initial;
}

.dotes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 25px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  margin-top: 5px;
}
.dotes span {
  background-color: red;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}
.dotes span:nth-child(1) {
  background-color: #6264FE;
}
.dotes span:nth-child(2) {
  background-color: #0077FC;
}
.dotes span:nth-child(3) {
  background-color: #a0aab6;
}

.logo-design {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.logo-design.spin {
  -webkit-animation: spin 2s infinite;
          animation: spin 2s infinite;
}
.logo-design span {
  width: 50%;
  height: 50%;
  border-radius: 50%;
  border: 2px solid white;
}
.logo-design span:nth-child(1) {
  background-color: #4353DD;
  margin-top: 5px;
  margin-right: -3px;
  z-index: 2;
}
.logo-design span:nth-child(2) {
  background-color: #62D5E1;
  position: absolute;
  top: 0px;
  z-index: 3;
}
.logo-design span:nth-child(3) {
  background-color: #6264FE;
  margin-top: 5px;
  margin-left: -3px;
}

.btn {
  padding: 10px;
  background-color: #E6F2FF;
  border-radius: 15px;
  font-family: "medium";
  color: #0077FC;
  cursor: pointer;
  border: none;
}

.nav-text-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  padding-left: 20px;
}

nav {
  -webkit-box-shadow: 3px 1px 15px rgba(0, 0, 0, 0.06);
          box-shadow: 3px 1px 15px rgba(0, 0, 0, 0.06);
  position: relative;
  background-color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
nav .nav {
  width: 50px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  height: 100%;
}
nav .nav .container {
  height: 100%;
}
nav .nav .container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 18px;
}
nav .nav .container ul li {
  position: relative;
}
nav .nav .container ul li.clicked::before {
  content: "";
  background-color: #0077FC;
  width: 4px;
  height: 50px;
  position: absolute;
  left: 0px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
nav .nav .container ul li.clicked .text,
nav .nav .container ul li.clicked .img {
  color: #0077FC !important;
}
nav .nav .container ul li a {
  padding: 20px 12px;
  cursor: pointer;
}
nav .nav .container ul li a:hover + .text {
  opacity: 1;
  z-index: 4;
}
nav .nav .container ul li.logout {
  position: absolute;
  bottom: 0;
  cursor: pointer;
}
nav .nav .container ul li.logout .img {
  padding: 20px 12px;
}
nav .nav .container ul li.logout .img:hover + .text {
  opacity: 1;
  z-index: 4;
}
nav .nav .container ul li:hover .img {
  color: #0077FC !important;
}
nav .nav .container ul li,
nav .nav .container ul li a {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
nav .nav .container ul li .img,
nav .nav .container ul li a .img {
  color: #95a0ae;
  font-size: 25px;
}
nav .nav .container ul li a:hover .text {
  opacity: 1;
}
nav .nav .container ul li.user a {
  width: 48px;
  height: 78px;
}
nav .nav .container ul li.user img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 50%;
}
nav .nav .container ul li.user img.clicked {
  width: 35px;
}
nav .nav .container ul li.logo {
  padding: 20px 0;
  margin-left: 4px;
}
nav .nav .container ul li .text {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  white-space: nowrap;
  background-color: white;
  -webkit-box-shadow: -2px 0px 15px rgba(0, 0, 0, 0.06);
          box-shadow: -2px 0px 15px rgba(0, 0, 0, 0.06);
  padding: 5px 7px;
  border-radius: 10px;
  position: absolute;
  left: calc(100% + 20px);
  border: 1px solid #0077FC;
  color: #0077FC;
  letter-spacing: 0.8px;
  cursor: initial;
  z-index: -1;
}
nav .nav .container ul li .text::before {
  content: "";
  border: 8px solid transparent;
  border-right-color: #0077FC;
  position: absolute;
  left: -16px;
  top: 6px;
}
nav .nav .container ul li img {
  width: 30px;
}

main .main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 700px) {
  nav {
    background-color: white;
    position: fixed;
    bottom: 0;
    -webkit-box-shadow: 0px -13px 15px rgba(0, 0, 0, 0.06);
            box-shadow: 0px -13px 15px rgba(0, 0, 0, 0.06);
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;
    width: 100vw;
  }
  nav.scroll {
    -webkit-box-shadow: unset;
            box-shadow: unset;
    bottom: -80px;
  }
  nav .nav {
    width: 100%;
  }
  nav .nav .container ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 5px;
  }
  nav .nav .container ul li .text {
    display: none;
  }
  nav .nav .container ul li.logo {
    padding: 20px 0 !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  nav .nav .container ul li a, nav .nav .container ul li > div {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  nav .nav .container ul li a {
    padding: 24px 12px !important;
  }
  nav .nav .container ul li::before {
    width: 100% !important;
    height: 4px !important;
    -webkit-transform: translateX(-50%) !important;
            transform: translateX(-50%) !important;
    bottom: 0 !important;
    top: unset !important;
    left: 50% !important;
    z-index: 2;
  }
  nav .nav .container ul li.logout {
    position: unset;
  }
}