@use "./helpers/fonts";
@use "./helpers/colors"as *;
@use "./helpers/animation";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "medium";
  font-size: 16px;

}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: initial;
}

.dotes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: 25px;
  justify-content: space-between;
  margin: auto;
  margin-top: 5px;

  span {
    background-color: red;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    &:nth-child(1) {
      background-color: #6264FE;
    }

    &:nth-child(2) {
      background-color: $mainColor;
    }

    &:nth-child(3) {
      background-color: #a0aab6;
    }

  }

}

.logo-design {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &.spin {
    animation: spin 2s infinite;
  }

  span {
    width: 50%;
    height: 50%;
    border-radius: 50%;
    border: 2px solid white;

    &:nth-child(1) {
      background-color: #4353DD;
      margin-top: 5px;
      margin-right: -3px;
      z-index: 2;

    }

    &:nth-child(2) {
      background-color: #62D5E1;
      position: absolute;
      top: 0px;
      z-index: 3;

    }

    &:nth-child(3) {
      background-color: #6264FE;
      margin-top: 5px;
      margin-left: -3px;

    }
  }
}

.btn {
  padding: 10px;
  background-color: #E6F2FF;
  border-radius: 15px;
  font-family: "medium";
  color: #0077FC;
  cursor: pointer;
  border: none;
}

.nav-text-icon {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 15px;
  padding-left: 20px;
}

main {
  .main {
    margin-top: 90px;
    width: 100%;
  }
}

nav {
  background-color: white;
  position: fixed;
  top: 0;
  box-shadow: 0px 20px 15px rgba(0, 0, 0, 0.06);
  border-bottom-left-radius: 28px;
  border-bottom-right-radius: 28px;
  width: 100%;
  z-index: 10;
  overflow: hidden;

  .container {
    padding: 0 5px;

    ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: nowrap;
      justify-content: space-between;

      li {
        max-width: 100px;
        width: 100%;
        position: relative;

        &.clicked {
          &::before {
            content: "";
            width: 100%;
            height: 4px;
            position: absolute;
            top: -5px;
            left: 50%;
            z-index: 2;
            transform: translateX(-50%);
            background-color: $mainColor;
          }

          &.logo.clicked {
            &::before {
              top: 0px;
            }
          }

          .text,
          .img {
            color: $mainColor !important;
          }
        }

        &:hover {
          .img {
            color: $mainColor !important;
          }
        }

        a {
          width: 100%;
          display: flex;
          justify-content: center;
          padding: 13px;

          .img {
            color: $mainColorIcons;
            font-size: 25px;
          }
        }

        .text {
          display: none !important;
          transition: .3s;
          opacity: 0;
          white-space: nowrap;
          background-color: white;
          box-shadow: -2px 0px 15px rgba(0, 0, 0, 0.06);
          padding: 5px 7px;
          border-radius: 10px;
          position: absolute;
          left: calc(100% + 20px);
          border: 1px solid $mainColor;
          color: $mainColor;
          letter-spacing: .8px;
          cursor: initial;
          z-index: -1;

          &::before {
            content: '';
            border: 8px solid transparent;
            border-right-color: $mainColor;
            position: absolute;
            left: -16px;
            top: 6px;
          }
        }
      }
    }
  }
}