@font-face {
  font-family: "bold";
  src: url("./fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "medium";
  src: url("./fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "light";
  src: url("./fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: lighter;
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "medium";
  font-size: 16px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: initial;
}

.nav-text-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  padding-left: 20px;
}

nav {
  -webkit-box-shadow: 3px 1px 15px rgba(0, 0, 0, 0.06);
          box-shadow: 3px 1px 15px rgba(0, 0, 0, 0.06);
  position: relative;
  background-color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
nav .nav {
  width: 50px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  height: 100%;
}
nav .nav .container {
  height: 100%;
}
nav .nav .container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 18px;
}
nav .nav .container ul li {
  position: relative;
}
nav .nav .container ul li.clicked::before {
  content: "";
  background-color: #0077FC;
  width: 4px;
  height: 50px;
  position: absolute;
  left: 0px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
nav .nav .container ul li.clicked .text,
nav .nav .container ul li.clicked .img {
  color: #0077FC !important;
}
nav .nav .container ul li:hover .text {
  opacity: 1;
}
nav .nav .container ul li:hover .img {
  color: #0077FC !important;
}
nav .nav .container ul li,
nav .nav .container ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
nav .nav .container ul li .img,
nav .nav .container ul li a .img {
  color: #95a0ae;
  font-size: 25px;
}
nav .nav .container ul li.logout,
nav .nav .container ul li a {
  padding: 20px 10px;
  cursor: pointer;
}
nav .nav .container ul li.user a {
  width: 48px;
  height: 78px;
}
nav .nav .container ul li.user img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 50%;
}
nav .nav .container ul li.user img.clicked {
  width: 35px;
}
nav .nav .container ul li.logo {
  padding: 20px 10px;
}
nav .nav .container ul li.logo .img.spin img {
  -webkit-animation: spin 2s infinite;
          animation: spin 2s infinite;
}
nav .nav .container ul li .text {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  white-space: nowrap;
  background-color: white;
  -webkit-box-shadow: -2px 0px 15px rgba(0, 0, 0, 0.06);
          box-shadow: -2px 0px 15px rgba(0, 0, 0, 0.06);
  padding: 5px 7px;
  border-radius: 10px;
  position: absolute;
  left: calc(100% + 20px);
  border: 1px solid #0077FC;
  color: #0077FC;
  letter-spacing: 0.8px;
}
nav .nav .container ul li .text::before {
  content: "";
  border: 8px solid transparent;
  border-right-color: #0077FC;
  position: absolute;
  left: -16px;
  top: 6px;
}
nav .nav .container ul li img {
  width: 30px;
}

main .main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}